<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale = 1, user-scalable = no">
    <title>{$title} 管理系统</title>
    <include file="Public/script"/>
    <script src="__PUBLIC__/js/ichart.1.2.min.js"></script>
</head>
</head>
<body>

    <include file="Public/header"/>

<script type="application/javascript">
    $(function () {
        /*导出使用的*/
        /*$('.downloadexcel').click(function () {
            var tid =  $(this).parents('.downloadexceldiv').attr('dl');//父级元素的id
            var table = $('#'+tid).find('table');//获得导出的Excel表
            var tablehtml = table.get(0).outerHTML;
            console.log(tablehtml);
            post("{:U('Public/downloadexcel')}", {'tablehtml' :tablehtml,'tid':tid});//模拟订单提交
//
        });*/


        /* .show-num 团队资讯 TEAM INFORMATION  的导出Excel 的操作函数*/
        function shownumexcel(t) {
            //遍历所有有tips的td
            var that = $(t);//传入的td对象
            var atips = that.find('a');
//                console.log(atips);
            var dataputong = atips.attr('data-putong');
            var datagold = atips.attr('data-gold');
            var datayin = atips.attr('data-yin');
            var addgold = atips.attr('add-gold');
            var addyin = atips.attr('add-yin');
            var addputong = atips.attr('add-putong');

            if (dataputong == '') {
                dataputong = '无';
            }
            if (datagold == '') {
                datagold = '无';
            }
            if (datayin == '') {
                datayin = '无';
            }

            //获得tips的内容
            var tipshtml =   '<br>'+'普通代理编号：' +dataputong + '<br>'+ '银牌代理编号：'+ datayin+ '<br>' +'金牌代理编号：' + datagold+ '<br>'
                    + '本月新增普通代理数目：' + addputong + '<br>' + '本月新增银牌代理数目：' + addyin + '<br>' + '本月新增金牌代理数目：' + addgold;
//            console.log('dddd');
            that.html(that.html()+'<br>详细内容 ：'+tipshtml);

        }


        /*
        *
        *新增（晋升）人数 NEW PEOPLE 导出
        * */
        function newmemberexcel(t) {
            var that = $(t);//传入的td对象
            var atips = that.find('a');
            var newseid = atips.attr('new-seid');


            if (newseid == '') {
                newseid = '无';
            }


            var tipshtml =  '<br>'+'新增(晋级)代理编号有：' +newseid  ;
            that.html(that.html()+'<br>详细内容 ：'+tipshtml);
        }

        /*
         *
         *代理总数 MEMBER NUMBER 导出
         * */
        function membernumberexcel(t) {
            var that = $(t);//传入的td对象
            var atips = that.find('a');
            var newseid = atips.attr('maseid');


            if (newseid == '') {
                newseid = '无';
            }


            var tipshtml =  '<br>'+'代理编号有：' + newseid ;
            that.html(that.html()+'<br>详细内容 ：'+tipshtml);

        }




        /*导出使用的*/
        $('.downloadexcel').click(function () {
            var tid =  $(this).parents('.downloadexceldiv').attr('dl');//父级元素的id
            var table = $('#'+tid).find('table');//获得导出的Excel表
            var hs = $(this).attr('hs');//获得操作的函数名字
            /*
             * 获得html 对html转换为jq对象进行操作，操作完才变回html字符串，不影响原来页面的html
             * */
            var tablehtml = table.get(0).outerHTML;
            tablehtml = $(tablehtml);//转换成jq对象
            var tds = tablehtml.find('.showtd');//获得所有的showtd的td
//            console.log(tds);

                // tds存在才操作
//                console.log(tds + 'yes2');
                switch (hs){
                    case 'shownumexcel' : {
                        console.log(tds);
                        tds.each(function (i,t) {
                            console.log('shownun');
                            shownumexcel(this);
                        });
                        break;
                    }
                    case 'newmemberexcel' : {
                        tds.each(function (i,t) {
                            newmemberexcel(this);
                        });
                        break;
                    }
                    case 'membernumberexcel' : {
                        tds.each(function (i,t) {
                            membernumberexcel(this);
                        });
                        break;
                    }
                    default :break;

                }



            tablehtml.find('td').css('border','1px solid #000000');
            tablehtml.find('th').css('border','1px solid #000000');
            tablehtml =tablehtml.get(0).outerHTML;



            console.log(tablehtml);
            post("{:U('Public/downloadexcel')}", {'tablehtml' :tablehtml,'tid':tid});//模拟订单提交
//
        });










    })
    
</script>
<div class="container">
    <center><br>
        <h1 style="color: #2D93CA">公司业绩</h1><br></center>
    <div class="row">


        <div class="col-xs-12 col-md-6 downloadexceldiv" dl="monthprofit" >
            <div class="panel-heading">
                <h2>公司业绩(近半年)<i class="hidden-xs"> Corporate Performance</i>
                <button type="button" class="btn btn-info downloadexcel"    >导出</button>
                </h2>
            </div>
            <div class="allowTextWrap">
                <table class="table bouns-table format fixedlayout"  >
                    <thead>
                    <tr>
                        <th width="25%">月份</th>
                        <th width="25%">总业绩</th>
                        <th width="25%">总pv值</th>
                        <th width="25%">总分红支出</th>
                        <th width="25%">总净利润</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="allMonthperformance" id="profit" offset="0" length='6'>

                        <tr>
                            <td>{$profit.monthstr}</td>
                            <td>{$profit.allprice}</td>
                            <td>{$profit.allpv}</td>
                            <td>{$profit.bonusofallpeople}</td>
                            <td>{$profit.netprofit}</td>
                        </tr>


                    </volist>
                    <tr>
                        <td>近半年</td>
                        <td>{$sixMonthperformance.allprice}</td>
                        <td>{$sixMonthperformance.allpv}</td>
                        <td>{$sixMonthperformance.bonusofallpeople}</td>
                        <td>{$sixMonthperformance.netprofit}</td>
                    </tr>


                    <tr>
                        <td colspan="5" align="center" class="profitmore"
                            style="text-align: center;color: #2aabd2;font-size: 18px;border-top: 1px solid #FBFBFB;cursor: Pointer;">
                            <sapn>更 多</sapn>
                        </td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>


        <div class="col-xs-12 col-md-6 downloadexceldiv"  dl="teammsg" >
            <div class="panel-heading">
                <h2>团队资讯<i class="hidden-xs"> Team information</i>
                    <button type="button" class="btn btn-info downloadexcel"  hs="shownumexcel"  >导出</button>
                </h2>

            </div>
            <div class="allowTextWrap">
                <div class="box">
                    <table class="table bouns-table fixedlayout" >
                        <thead>
                        <tr>
                            <th width="30%">行数</th>
                            <th width="23%">直推人数</th>
                            <th width="23%">间接人数</th>
                            <th>总人数</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="layerdetailmsg" id="lmsg" offset="0" length='6' key="level">
                            <tr>
                                <td>第{$level}行</td>
                                <td  ><a href="javascript:;" class="show-num"
                                       data-putong="{$lmsg.dir.普通代理|implode=',',###}"
                                       data-gold="{$lmsg.dir.金牌代理|implode=',',###}"
                                       data-yin="{$lmsg.dir.银牌代理|implode=',',###}"
                                         add-gold="{$lmsg.dir.newjinnum}"
                                         add-yin="{$lmsg.dir.newyinnum}"
                                         add-putong="{$lmsg.dir.newputongnum}"
                                         add-goldarr="{$lmsg.dir.newjinarr}"
                                         add-yinarr="{$lmsg.dir.newyinarr}"
                                         add-putongarr="{$lmsg.dir.newputongarr}"
                                >{$lmsg.dirnum}</a>
                                </td>
                                <td ><a href="javascript:;" class="show-num"
                                       data-putong="{$lmsg.indir.普通代理|implode=',',###}"
                                       data-gold="{$lmsg.indir.金牌代理|implode=',',###}"
                                       data-yin="{$lmsg.indir.银牌代理|implode=',',###}"
                                        add-gold="{$lmsg.indir.newjinnum}"
                                       add-yin="{$lmsg.indir.newyinnum}"
                                        add-putong="{$lmsg.indir.newputongnum}"
                                        add-goldarr="{$lmsg.indir.newjinarr}"
                                        add-yinarr="{$lmsg.indir.newyinarr}"
                                        add-putongarr="{$lmsg.indir.newputongarr}"
                                >{$lmsg.indirnum}</a>
                                </td>
                                <td>{$lmsg.allnum}</td>
                            </tr>

                        </volist>
                        <tr>
                            <td colspan="4" class="levelmore"
                                style="color: #2aabd2;font-size: 18px;border-top: 1px solid #FBFBFB;cursor: Pointer;text-align: center;">
                                <sapn>更 多</sapn>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!---->


    </div>

    <div class="row">
        <!--表现最好6人-->
        <div class="col-xs-12 col-md-6 downloadexceldiv" dl="pertop50"   >
            <div class="panel-heading">
                <h2>本月表现最好的前六人<i class="hidden-xs"> Best performance</i>
                    <button type="button" class="btn btn-info downloadexcel"    >导出</button>
                </h2>
            </div>
            <div class="allowTextWrap">
                <div class="box">
                    <table class="table bouns-table fixedlayout">
                        <thead>
                        <tr>
                            <th width="30%">排名</th>
                            <th width="23%">编号</th>
                            <th width="23%">本月直推人数</th>
                            <th >本月业绩</th>
                            <!--<th>本月自买数量</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="top50" id="t" offset="0" length='6' key="ranking">
                            <tr>
                                <td>第{$ranking}名</td>
                                <td> {$t.seid}</td>
                                <td> {$t.severidsnum}(人)</td>
                                <td> {$t.money}(元)</td>
                                <!--<td> {$t.mypronum}(件)</td>-->
                            </tr>
                        </volist>

                        <tr >
                            <td colspan="4"   class="rankmore" style="color: #2aabd2;font-size: 18px;border-top: 1px solid #FBFBFB;cursor: Pointer;text-align: center;">
                                <sapn >更 多</sapn>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!--每月的新增的人数，金，银，普通代理-->

        <div class="col-xs-12 col-md-6 downloadexceldiv" dl="newmember" >
            <div class="panel-heading">
                <h2>新增（晋升）人数<i class="hidden-xs">  NEW PEOPLE</i>
                    <button type="button" class="btn btn-info downloadexcel"  hs="newmemberexcel"  >导出</button>
                </h2>
            </div>
            <div class="allowTextWrap">
                <div class="box">
                    <table class="table bouns-table fixedlayout">
                        <thead>
                        <tr>
                            <th width="30%">月份</th>

                            <th width="23%">晋升金牌</th>
                            <th width="23%">晋升银牌</th>
                            <th>新增普通代理</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="newpeople" id="np" offset="0" length='6' key="m">
                            <tr>
                                <td>{$key}</td>
                                <td><a href="javascript:;" class="show-new" new-seid="{$np.newjin.jin}">{$np.newjin.njnum}(人)</a>
                                </td>
                                <td><a href="javascript:;" class="show-new" new-seid="{$np.newyin.yin}">{$np.newyin.nynum}(人)</a>
                                </td>
                                <td><a href="javascript:;" class="show-new" new-seid="{$np.newregt.regt}">{$np.newregt.nrnum}(人)</a>
                                </td>

                            </tr>
                        </volist>
                        <td colspan="4" class="newpeoplemore"
                            style="color: #2aabd2;font-size: 18px;border-top: 1px solid #FBFBFB;cursor: Pointer;text-align: center;">
                            <sapn>更 多</sapn>
                        </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!---->


    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 downloadexceldiv" dl="membernumber" id="membernumber">
            <div class="panel-heading">
                <h2>代理总数<i class="hidden-xs">  member number</i>
                    <button type="button" class="btn btn-info downloadexcel"  hs="membernumberexcel"  >导出</button>
                </h2>
            </div>
            <div class="allowTextWrap">
                <div class="box">
                    <table class="table bouns-table fixedlayout">
                        <thead>
                        <tr>
                            <th width="30%">总金牌代理</th>

                            <th width="23%">总银牌代理</th>
                            <th width="23%">总普通代理</th>
                            <th>总数</th>
                        </tr>
                        </thead>
                        <tbody>

                            <tr>
                                    <td class="showtd"><a href="javascript:;" class="show-member" maseid="{$m_account.jin|implode=',',###}">{$m_account.jin|count=###}(人)</a></td>
                                <td class="showtd"><a href="javascript:;" class="show-member" maseid="{$m_account.yin|implode=',',###}">{$m_account.yin|count=###}(人)</a>
                                </td>
                                <td class="showtd"><a href="javascript:;" class="show-member" maseid="{$m_account.usual|implode=',',###}">{$m_account.usual|count=###}(人)</a>
                                </td>
                                <td class="showtd"><a href="javascript:;" class="show-member" maseid="{$m_account.jin|implode=',',###},{$m_account.yin|implode=',',###},{$m_account.usual|implode=',',###}">{$m_account.count}(人)</a>
                                </td>

                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row hidden-xs">
        <div class="col-xs-12 col-md-12" id="canvasrow">
            <div id='canvasDiv'></div>
            <div style="height: 50px;margin:  20px 0;"></div>
        </div>
    </div>

</div>
<include file="Public/footer"/>

<script type="text/javascript">
    $(function () {
        var data = [
            {
                name: '总业绩',
                value: [{$sixallprice}],//六个月的总业绩
                color: '#aad0db',
                line_width: 2
            },
            {
                name: '总净利润',
                value: [{$sixnetprofit}],//六个月的净利润
                color: '#f68f70',
                line_width: 2
            }
        ];

        var labels = [{$sixmonths}];//近六个月

        var chart = new iChart.Area2D({
            render: 'canvasDiv',
            data: data,
            title: '过去半年的业绩利润情况',
            width: $('#canvasrow').width(),
            height: ($('#canvasrow').width()) * 0.5,
            legend: {
                enable: true,
                row: 1,//设置在一行上显示，与column配合使用
                column: 'max',
                valign: 'top',
                background_color: null,//设置透明背景
                offsetx: -30,//设置x轴偏移，满足位置需要
                border: false
            },
            tip: {
                enable: true,
                listeners: {
                    //tip:提示框对象、name:数据名称、value:数据值、text:当前文本、i:数据点的索引
                    parseText: function (tip, name, value, text, i) {
                        return labels[i] + name + ":" + value + "（元）";
                    }
                }
            },
            crosshair: {
                enable: true,
                line_color: '#62bce9',
                line_width: 2
            },
            sub_option: {
                label: false,
                point_size: 10
            },
            background_color: '#f2f2f2',
            coordinate: {
                axis: {
                    width: [0, 0, 2, 0]
                },
                vertical: {way: 'given_value', value: 40},
                background_color: '#ffffff',
                height: '90%',
                scale: [{
                    position: 'left',
                    scale_space: Math.max.apply(null, data[0].value)/10,
                    scale_enable: false,//禁用小横线
                    listeners: {
                        parseText: function (t, x, y) {
                            return {text: t + "元"}
                        }
                    }
                }, {
                    position: 'bottom',
                    start_scale: 1,
                    end_scale: 12,
                    parseText: function (t, x, y) {
                        return {textY: y + 10}
                    },
                    labels: labels
                }]
            }
        });
        chart.draw();

    });
</script>

<script>
    $(function () {


        $('.show-num').hover(function () {
            var that = this;
            var dataputong = $(this).attr('data-putong');
            var datagold = $(this).attr('data-gold');
            var datayin = $(this).attr('data-yin');
            var addgold = $(this).attr('add-gold');
            var addyin = $(this).attr('add-yin');
            var addputong = $(this).attr('add-putong');
            var addgoldarr = $(this).attr('add-goldarr');
            var addyinarr = $(this).attr('add-yinarr');
            var addputongarr = $(this).attr('add-putongarr');
            if (dataputong == '') {
                dataputong = '无';
            }
            if (datagold == '') {
                datagold = '无';
            }
            if (datayin == '') {
                datayin = '无';
            }

            var html =
                    '<p style="width: 150px;word-wrap:break-word; word-break:normal;line-height: 14px">'+'普通代理编号：' +dataputong+'</p>'  +'<p style="width: 150px;word-wrap:break-word; word-break:normal;line-height: 14px">'+ '银牌代理编号：'+ datayin+'</p>' + '<p style="width: 110px;word-wrap:break-word; word-break:normal;line-height: 14px">'+ '金牌代理编号：' + datagold +'</p>'
                    + '<p style="width: 150px;word-wrap:break-word; word-break:normal;line-height: 14px">'+'本月新增普通代理编号：' +addputongarr+'</p>'  +'<p style="width: 150px;word-wrap:break-word; word-break:normal;line-height: 14px">'+ '本月新增银牌代理编号：'+ addyinarr+'</p>' + '<p style="width: 110px;word-wrap:break-word; word-break:normal;line-height: 14px">'+ '本月新增金牌代理编号：' + addgoldarr +'</p>'
                    + '本月新增普通代理数目：' + addputong + '<br>' + '本月新增银牌代理数目：' + addyin + '<br>' + '本月新增金牌代理数目：' + addgold;
            layer.tips(html, that);
        }, function () {

        });

        $('.show-new').hover(function () {
            var that = this;
            var newseid = $(this).attr('new-seid');


            if (newseid == '') {
                newseid = '无';
            }


            var html =  '<p style="width: 150px;word-wrap:break-word; word-break:normal;line-height: 14px">'+'新增(晋级)代理编号有：' +newseid +'</p>';

             /*$(that).tipso({
                useTitle: false,
                content : html,
                position: 'right'
            });*/

            layer.tips(html, that);
        }, function () {

        });



        $('.show-member').hover(function () {
            var that = this;
            var newseid = $(this).attr('maseid');


            if (newseid == '') {
                newseid = '无';
            }


            var html =  '<p style="width: 150px;word-wrap:break-word; word-break:normal;line-height: 14px">'+'代理编号有：' + newseid + '</p>';

            /*$(that).tipso({
             useTitle: false,
             content : html,
             position: 'right'
             });*/
            layer.tips(html, that);
        }, function () {

        });


        $('.levelmore').click(function () {
            layer.open({
                type: 1,
                title: '代理团队信息',
                skin: 'layui-layer-rim', //加上边框
                area: ['100%', '90%'], //宽高
                content: $('#teammsg')
            });
        });

        $('.rankmore').click(function () {
            layer.open({
                type: 1,
                title: '本月表现最好的排名',
                skin: 'layui-layer-rim', //加上边框
                area: ['100%', '90%'], //宽高
                content: $('#pertop50')
            });
        });

        $('.profitmore').click(function () {
            layer.open({
                type: 1,
                title: '公司业绩',
                skin: 'layui-layer-rim', //加上边框
                area: ['100%', '90%'], //宽高
                content: $('#monthprofit')
            });
        });

        $('.newpeoplemore').click(function () {
            layer.open({
                type: 1,
                title: '新增（晋升）人数',
                skin: 'layui-layer-rim', //加上边框
                area: ['100%', '90%'], //宽高
                content: $('#newmember')
            });
        });


    })
</script>

</body>

</html>
<div style="height: 0;overflow: hidden;">
    <div class="col-xs-12 col-md-6 col-md-offset-3" id="teammsg" style="display: block;">
        <div class="panel-heading">
            <h2>团队资讯<i class="hidden-xs"> Team information</i></h2>
        </div>
        <div class="allowTextWrap">
            <div class="box">
                <table class="table bouns-table fixedlayout">
                    <thead>
                    <tr>
                        <th width="30%">行数</th>
                        <th width="23%">直推人数</th>
                        <th width="23%">间接人数</th>
                        <th>总人数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="layerdetailmsg" id="lmsg" key="level">
                        <tr>
                            <td>第{$level}行</td>
                            <td  class="showtd"><a href="javascript:;" class="show-num"
                                     data-putong="{$lmsg.dir.普通代理|implode=',',###}"
                                     data-gold="{$lmsg.dir.金牌代理|implode=',',###}"
                                     data-yin="{$lmsg.dir.银牌代理|implode=',',###}"
                                     add-gold="{$lmsg.dir.newjinnum}"
                                     add-yin="{$lmsg.dir.newyinnum}"
                                     add-putong="{$lmsg.dir.newputongnum}"
                                     add-goldarr="{$lmsg.dir.newjinarr}"
                                     add-yinarr="{$lmsg.dir.newyinarr}"
                                     add-putongarr="{$lmsg.dir.newputongarr}"
                            >{$lmsg.dirnum}</a>
                            </td>
                            <td class="showtd"><a href="javascript:;" class="show-num"
                                    data-putong="{$lmsg.indir.普通代理|implode=',',###}"
                                    data-gold="{$lmsg.indir.金牌代理|implode=',',###}"
                                    data-yin="{$lmsg.indir.银牌代理|implode=',',###}"
                                    add-gold="{$lmsg.indir.newjinnum}"
                                    add-yin="{$lmsg.indir.newyinnum}"
                                    add-putong="{$lmsg.indir.newputongnum}"
                                    add-goldarr="{$lmsg.indir.newjinarr}"
                                    add-yinarr="{$lmsg.indir.newyinarr}"
                                    add-putongarr="{$lmsg.indir.newputongarr}"
                            >{$lmsg.indirnum}</a>
                            </td>
                            <td>{$lmsg.allnum}</td>
                        </tr>

                    </volist>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-6 col-md-offset-3" id="monthprofit">
        <div class="panel-heading">
            <h2>公司业绩(近半年)<i class="hidden-xs"> Corporate Performance</i>

            </h2>
        </div>
        <div class="allowTextWrap">
            <table class="table bouns-table format fixedlayout">
                <thead>
                <tr>
                    <th width="10%">月份</th>
                    <th width="23%">总业绩</th>
                    <th width="23%">总pv值</th>
                    <th width="23%">总分红支出</th>
                    <th width="23%">总净利润</th>
                </tr>
                </thead>
                <tbody>
                <volist name="allMonthperformance" id="profit">

                    <tr>
                        <td>{$profit.monthstr}</td>
                        <td>{$profit.allprice}</td>
                        <td>{$profit.allpv}</td>
                        <td>{$profit.bonusofallpeople}</td>
                        <td>{$profit.netprofit}</td>
                    </tr>

                </volist>
                <tr>
                    <td>总业绩（历史以来）</td>
                    <td>{$performance.allprice}</td>
                    <td>{$performance.allpv}</td>
                    <td>{$performance.bonusofallpeople}</td>
                    <td>{$performance.netprofit}</td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-md-offset-3" id="newmember">
        <div class="panel-heading">
            <h2>新增（晋升）人数<i class="hidden-xs"> new people</i></h2>
        </div>
        <div class="allowTextWrap">
            <div class="box">
                <table class="table bouns-table fixedlayout">
                    <thead>
                    <tr>
                        <th width="30%">月份</th>

                        <th width="23%">晋升金牌</th>
                        <th width="23%">晋升银牌</th>
                        <th>新增普通代理</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="newpeople" id="np"   key="m">
                        <tr>
                            <td>{$key}</td>
                            <td class="showtd"><a href="javascript:;" class="show-new" new-seid="{$np.newjin.jin}">{$np.newjin.njnum}(人)</a>
                            </td >
                            <td class="showtd"><a href="javascript:;" class="show-new" new-seid="{$np.newyin.yin}">{$np.newyin.nynum}(人)</a>
                            </td>
                            <td class="showtd"><a href="javascript:;" class="show-new" new-seid="{$np.newregt.regt}">{$np.newregt.nrnum}(人)</a>
                            </td>

                        </tr>
                    </volist>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-md-offset-3"  id="pertop50" >
        <div class="panel-heading">
            <h2>本月表现最好的前50人<i class="hidden-xs"> Best performance</i>

            </h2>
        </div>
        <div class="allowTextWrap">
            <div class="box">
                <table class="table bouns-table fixedlayout">
                    <thead>
                    <tr>
                        <th width="30%">排名</th>
                        <th width="23%">编号</th>
                        <th width="23%">本月直推人数</th>
                        <th>本月自买数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="top50" id="t" offset="0" length='50' key="ranking">
                        <tr>
                            <td>第{$ranking}名</td>
                            <td> {$t.seid}</td>
                            <td> {$t.severidsnum}(人)</td>
                            <td> {$t.money}(元)</td>

                        </tr>
                    </volist>



                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>