<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>分销系统-后台管理系统-找回密码</title>
    <include file="Public/script"/>
    <style>
        body, html {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: #F5F5F5;
        }
    </style>
</head>
<body>


<div class="top">
    <section></section>
</div>


<div class="wymain">

    <h3 class="wymain_title" style="text-align: center">{$title} </h3>
    <h5 style="text-align: center;margin-top: 20px;">请填写你绑定的身份证和邮箱</h5>

    <div class="forgetbox">
        <form class="form-horizontal" role="form" id="forgetform" action="{:U('Login/doforget')}" method="post">

            <div class="form-group">
                <label for="username" class="col-xs-4 col-sm-2 control-label">
                    代理工号:</label>
                <div class="col-xs-8 col-sm-9 ">
                    <input type="text" name="username" id="username" value="{$admin.username}" class="form-control"
                           placeholder="用户编号"/>
                </div>
            </div>


            <div class="form-group">
                <label for="idcard" class="col-xs-4  col-sm-2 control-label">身份证:</label>
                <div class="col-xs-8 col-sm-9">
                    <input type="text" name="idcard" id="idcard"
                           value="{$admin.idcard}" class="form-control" placeholder="身份证"/>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-xs-4 col-sm-2 control-label">邮箱:</label>
                <div class="col-xs-8 col-sm-9">
                    <input type="text" name="email" id="email"
                           value="{$admin.email}" class="form-control" placeholder="邮箱"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-6 ">
                    <input type="text" class="form-control code" name="code" id="code" maxlength="50"
                           placeholder="验证码">

                </div>
                <div class="col-xs-6 col-sm-4">
                    <img src="{:U('Login/verify',array('id' => 'a_login_1'))}"
                         data-url="{:U('Login/verify',array('id' => 'a_login_1'))}"
                         align="absmiddle" id="vcode" height="40px" width="120px" class="vcode verifyImage">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary" id="forgetsubmit">下一步</button>
                    <button type="button" class="btn btn-info" onclick="goUrl('{:U(" index
                    ")}')" >返回</button>
                </div>
            </div>


        </form>
    </div>


</div>

<script>
    $(function () {
        $('#vcode').click(function (event) {
            /* Act on the event */
            var verifyUrl = $(this).attr('data-url');
            verifyUrl += '#' + Math.random();
            $(this).attr("src", verifyUrl);
        });


        var username=$("input[name='username']");
        var idcard = $("input[name='idcard']");
        var email = $("input[name='email']");
        var code = $("input[name='code']");



        $("#forgetform").submit(function(event){
            event.preventDefault();
            if($.trim(username.val())==''){
                layer.tips('用户名不能为空', "input[name='username']");
                username.focus();
                return false;
            }else if($.trim(idcard.val())=='') {
                layer.tips('身份证不能为空', "input[name='idcard']");
                password.focus();
                return false;
            }else if($.trim(email.val())=='') {
                layer.tips('邮箱不能为空', "input[name='email']");
                password.focus();
                return false;
            }else if($.trim(code.val())==''){
                layer.tips('验证码不能为空', "input[name='code']");
                code.focus();
                return false;
            }
            var postUrl = $(this).attr('action');
            var param = $(this).serialize();
            var btn = $("button[type='submit']");
            btn.attr('disabled', 'disabled');
            $.ajax({
                url: postUrl,
                type: 'POST',
                dataType: 'json',
                data: param,
                /*success:function (data) {
                 console.log(data);
                 }*/

            })
                    .done(function(data) {
                        if (data.status == 1) {
                            console.log(data);
                            layer.confirm('新生成的随机新密码已经发送到你的邮箱里面，请登录你的邮箱查看，如要修改密码，请登录后再自行修改。', {
                                btn: ['知道了'] //按钮
                            }, function(){
                                window.location.href = data.url;//跳转
                            }, function(){

                            });


                           /* setTimeout(function () {
                                window.location.href = data.url;
                            },10000);*/

//                            layer.msg('新生成的随机新密码已经发送到你的邮箱里面，'+'<br>'+'请登录你的邮箱查看，如要修改密码，请登录后再自行修改。');
                        } else {
                            layer.msg(data.info, function(){});
                        }
                    })
                    .fail(function() {
                        console.log("error");
                        layer.msg('发生错误，请重试');
                    })
                    .always(function() {
                        btn.removeAttr('disabled');
                        $('#vcode').trigger('click');
                    });


        });



        //验证用户名
        $("input[name='username']").blur(function(){
            if($.trim(username.val())==''){
                layer.tips('代理工号不能为空', "input[name='username']");
                username.focus();
                return ;
            }

        });
        //验证身份证
        $("input[name='idcard']").blur(function(){

            if($.trim(idcard.val())==''){
                layer.tips('身份证不能为空', "input[name='idcard']");
                //password.focus();
                return ;
            }

        });

        //验证身份证
        $("input[name='email']").blur(function(){

            if($.trim(email.val())==''){
                layer.tips('邮箱不能为空', "input[name='email']");
                //password.focus();
                return ;
            }

        });





    })

</script>


</body>
</html>