<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{$title} 管理系统</title>
    <include file="Public/script" />
</head>
</head>
<body>

<include file="Public/header" />

<div class="container">
    <center><br>
        <h1 style="color: #2D93CA">添加订单</h1><br></center>

        <div style="width: 100%;margin: 0 2%;" >
        <form method='post' class="form-horizontal" id="form_do" name="form_do" action="{:U('orderdoadd')}">



            <div class="form-group">
                <label for="" class="col-sm-2 control-label">请选择代理</label>
                <div class="col-sm-9">
                    <select name="sadminid" class="form-control"  id="sadminid" >
                        <option value="">请选择代理</option>
                        <foreach name='admins' item='v' key="k">
                            <option value="{$v.id}"  >{$v.seid}</option>
                        </foreach>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-sm-2 control-label">请选择产品</label>
                <div class="col-sm-9">
                    <select name="pid" class="form-control"  id="pid"   >
                        <option value="">请选择产品</option>
                        <foreach name='product' item='v' key="k">
                            <option value="{$v.pid}" price="{$v.price}" pprice="{$v.pprice}" >{$v.pname}---{$v.price}元---pv值:{$v.pprice}元</option>
                        </foreach>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="additionalprice" class="col-sm-2 control-label">附加价格</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="additionalprice"   name="additionalprice" value="{$v.additionalprice}">
                </div>
            </div>

            <div class="form-group">
                <label for="finalprice" class="col-sm-2 control-label">总价格</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" disabled="disabled" id="finalprice"   name="finalprice" value="{$v.finalprice}" placeholder="0">
                </div>
            </div>

            <div class="form-group">
                <label for="finalpprice" class="col-sm-2 control-label">总pv值</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" disabled="disabled" id="finalpprice"   name="finalpprice" value="{$v.finalpprice}" placeholder="0">
                </div>
            </div>

            <div class="row margin-botton-large">
                <div class="col-sm-offset-2 col-sm-9">
                    <if condition="$adminid">
                        <input type="hidden" name="adminid" value="{$adminid}" id="adminid" />
                    </if>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary" id="admnsubmit"> <i class="glyphicon glyphicon-saved"></i>
                            保存
                        </button>
                        <button type="button" onclick="goUrl('{:U('index')}')" class="btn btn-default"> <i class="glyphicon glyphicon-chevron-left"></i>
                            返回
                        </button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        {/*分页数据*/}

    </div>


<script type="application/javascript">
    $(function () {
        $('#admnsubmit').click(function (e) {
//            e.preventDefault();
            if( $('#sadminid').val() == ''){
                e.preventDefault();
                layer.msg('请选择代理');
            }else if( $('#pid').val() == ''){
                e.preventDefault();
                layer.msg('请选择产品');
            }else if( $('#additionalprice').val() != '' && isNaN($('#additionalprice').val())){
                e.preventDefault();
                layer.msg('附加价格！');
            }
        })

        $('#additionalprice').change(function () {
            caculateprice();
        });

        $('#pid').change(function () {
            caculateprice();
        });


        function caculateprice() {
            var price = isNaN(parseFloat($('#pid').find(":selected").attr('price')))  ? 0 : parseFloat($('#pid').find(":selected").attr('price'));
//            var pv = isNaN(parseFloat($('#pid').find(":selected").attr('pv')))  ? 0 : parseFloat($('#pid').find(":selected").attr('pv'));
            var pprice = isNaN(parseFloat($('#pid').find(":selected").attr('pprice')))  ? 0 : parseFloat($('#pid').find(":selected").attr('pprice'));
            var additionalprice = $('#additionalprice').val() == '' ? 0 : parseFloat($('#additionalprice').val());
            $('#finalprice').val( price + additionalprice );
            $('#finalpprice').val( pprice);



        }
    })
    
</script>








<include file="Public/footer" />

</body>

</html>