
    <meta charset="UTF-8">

    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$title} 后台</title>
    <link href="__P__/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/main.css" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" href="__PUBLIC__/css/tipso.css">

    <script type="text/javascript" src="__P__/jquery/jquery-2.1.min.js"></script>
    <script type="text/javascript" src="__P__/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__P__/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css-responsive.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/iconfont.css">
    <script src="__PUBLIC__/js/tipso.js"></script>