@charset "utf-8";

@media(max-width:749px){.wfrxian{border:none;}.wforderr{height:350px;overflow:hidden;margin-bottom:15px;}.wffahuo{padding-bottom:20px;}}
@media(max-width:480px){.wfwarp{border:0;}.wfrxian{border:none;}.wfsubbox input{width:96%;}}
